<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
    <!-- Head -->
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {% block style %}
    <!-- Styles -->
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {{ debugbar.head|raw }}
    <title>
        {% block title %}
        <!-- Title -->
        {% endblock %}
    </title>

</head>
<body>
    {% include './partials/nav.html' %}
    {% block body %}
    <!-- Content  -->
    {% endblock %}
</body>


<script src='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
<!-- Scripts -->
{% block scripts %}
{{ js|raw }}
{% endblock %}

{{ debugbar.footer|raw }}
</html>