<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
    <!-- Head -->
    {% endblock %}

    {% block style %}
    <!-- Styles -->
    {% endblock %}
    <title>
        {% block title %}
        <!-- Title -->
        {% endblock %}
    </title>
</head>
<body>
    {% include './partials/nav.html' %}
    {% block body %}
    <!-- Content  -->
    {% endblock %}
</body>

<!-- Scripts -->
{% block scripts %}

{% endblock %}
</html>