{% extends "./partials/app.html" %}

{% block title %}
    {{ body }}
{% endblock %}

{% block style %}
    {{ css|raw }}
{% endblock %}

{% block body %}
<!-- Start body -->


<div id="root">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <h3>{{ body }}</h3>
                <br/>
                <hr>
                <br/>
                <p>

                    <i style="color: red">Preymwork</i> is just a hubby project of mine.
                </p>
            </div>
        </div>
    </div>
</div>


<!-- End Body -->
{% endblock %}


{% block scripts %}
{{ js|raw }}
{% endblock %}